.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.form-page-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 200px;
}
.errorMessageContainer {
  color: red;
  font-size: 11px;
  font-style: italic;
}
